<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Учи.ру</title>
</head>

<body>
    <section class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="heading-text">
                        <span> Предложение на конец месяца - скидка до 30% | OFFER ENDING IN : </span>
                        <span class="main-span">БЕРИТЕ СЕЙЧАС</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="navbar-statrs pt-3 pb-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <div class="input-group mt-2">
                        <input type="text" class="form-control" placeholder="Введите название курса"
                            maxlength="255">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">
                                <span class="fa fa-search form-control-feedback"></span>
                            </button>
                        </div>
                    </div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#">Корпоративное обучение</a>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#">Курсы</a>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#">Блог</a>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Войти</a>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal2">Регистрация</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </section>

    <!------ AWS Architect Certification Training-------->
    <section class="Certification">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 no-padding">
                    <div class="Certification-2">
                        <ul class="brdcrm-2 hidden-xs">
                            <li><a href="#">Главная></a></li>
                            <li><a href="#">Блог</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 no-padding hidden-xs hidden-sm cc_cursor">
                    <div class="cnt_box">
                        <span class="iconcall">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        <div class="cnt_info">
                            <span class="text">Есть вопросы? Спросите нас</span>
                            <a href="#">89998227183</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!---Blog---->
    <section class="chhota-div">
        <div class="container-fluid">
            <div class="container">
                <h2 class="text-center">Тестирование с помощью Selenium WebDriver (70 блогов)</h2>
            </div>
        </div>
    </section>


    <!-----Recent Additions--- -->
    <section class="Recent-Addition pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mt-4 mx-auto"> <a href="certification-training.html" style="color: black;">
                        <div class="main-hover-div">
                            <div class="user-profile-2">
                                <div class="test" style="margin: 10px;">
                                    <h2 class="text-left">Топ-40 вопросов на собеседовании по автоматизации тестирования, которые необходимо знать
                                        2021</h2>
                                    <span class="Last">Последнее обновление 04.01.2021</span>
                                </div>
                                <div class="user-images">
                                    <div class="program_features_info">
                                        <span><img src="images/user.png" alt="" style="padding-right: 10px;"></span>
                                        <span>Андрей Бунин</span>
                                        <p class="book">Закладка</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-10 mt-4 mx-auto">
                    <div class="main-hover-div">
                        <div class="user-profile-2">
                            <p style="padding: 10px; margin: 10px;">Тестирование имеет решающее значение для успеха любого
                                программного продукта. Основной целью тестирования программного обеспечения является получение высококачественного
                                при одновременном снижении стоимости и времени выполнения проекта. Однако
                                тестирование с целью поиска дефектов и ошибок вручную требует много времени, средств, часто повторяется и подвержено человеческому фактору.
                                часто повторяющееся и подверженное человеческим ошибкам. Именно здесь на помощь приходит автоматизация
                                картина. Данная статья "Вопросы для собеседования по автоматизации тестирования" является идеальным руководством для
                                чтобы вы узнали об автоматизации тестирования.

                                Автоматизация тестирования или автоматизированное тестирование использует инструменты, скрипты и программное обеспечение для выполнения тестовых заданий путем повторения заранее определенных действий.
                                программного обеспечения для выполнения тестовых заданий путем повторения заранее определенных действий. Автоматизация тестирования программного обеспечения
                                Автоматизация тестирования программного обеспечения, безусловно, обеспечит компаниям конкурентное преимущество на рынке.
                                С учетом того, что автоматизация становится все более распространенной, тестировщики программного обеспечения
                                обладающие только навыками ручного тестирования, не смогут добиться успеха на современном рынке труда. Если
                                Если вы готовитесь к собеседованию по автоматизации тестирования, вам необходимо знать наиболее часто задаваемые вопросы в области автоматизации тестирования.
                                Наиболее часто задаваемые вопросы в области автоматизации тестирования. Учитывая это, в данной статье:
                            </p>

                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Набор Группы Номер №1
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                Набор Группы Номер №2
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                Набор Группы Номер №3
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!----footer-section------>
    <section class="footer-section">
        <div class="container">
            <h2 class="mt-4 mb-4">Учи.ру!</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-text">
                        <h3>Популярные сертификационные курсы </h3>
                        <ul class="trend_list">
                            <li>
                                <a href="#">
                                    Обучение сертификации DevOps
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Сертификационное обучение архитекторов AWS
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Сертификационный курс по работе с большими данными Hadoop
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Обучение и сертификация Tableau
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Сертификационное обучение Python для науки о данных
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Сертификационное обучение Selenium
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Подготовка к сертификационному экзамену PMP®
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Обучение роботизированной автоматизации процессов с использованием UiPath
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Обучение сертификации Apache Spark и Scala
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Обучение работе с Microsoft Power BI
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Онлайн-курс и обучение Java
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Сертификационный курс Python
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-text">
                        <h3>ПОПУЛЯРНЫЕ МАСТЕР-КУРСЫ</h3>
                        <ul class="trend_list">
                            <li>
                                <a href="#">
                                    Магистерская программа Data Scientist
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Магистерская программа для инженеров DevOps
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Магистерская программа облачных архитекторов
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Магистерская программа архитектора больших данных
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Магистерская программа инженера по машинному обучению
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Магистерская программа Full Stack для веб-разработчиков
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Магистерская программа бизнес-аналитики
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Магистерская программа аналитика данных
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Магистерская программа для инженеров по автоматизации тестирования
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Программа сертификации последипломного образования в области искусственного интеллекта и машинного обучения
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Продвинутая исполнительная программа в области разработки больших данных
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-text">
                        <h3>Компания</h3>
                        <ul class="trend_list">
                            <li>
                                <a href="#">
                                    О нас
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Новости & СМИ
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Отзывы
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Связаться с нами
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Вебинары
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Блог
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Сообщество
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Локации
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Карта сайта
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Карта сайта блога
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Карта сайта сообщества
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Карта города
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Корпоративное обучение
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-text">
                        <h3>Работать с нами </h3>
                        <ul class="trend_list">
                            <li>
                                <a href="#">
                                    Карьера
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Стать инструктором
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Стать партнером
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Нанять из Учи.ру
                                </a>
                            </li>
                        </ul>
                        <div class="Download-App">
                            <h3>Скачать приложение</h3>
                            <a href="#">
                                <img src="images/d1.png">
                            </a>
                            <a href="#">
                                <img src="images/d2.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="copy-right-top">
        <div class="container">
            <div class="tncblock">
                <span class="brain4ce">© 2023 Образовательные решения. Все права защищены.</span>
                <a href="#">Условия & Условия</a>
                <a href="#">Юридический & Конфиденциальность</a>
                <ul class="list-unstyled footer-social-icon">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="copy-right text-center mt-4 mb-4">
        <div class="container">
            <span>Mongo и логотип в виде листа являются зарегистрированными товарными знаками MongoDB., Inc.</span>
        </div>
    </section>
    <!----Drop-box-section----->
    <section class="Drop-box-section">
        <div class="drop_box_enqr hidden-xs redShow" style="display: block;">
            <div class="head dp_hd_bx duq-new-head totop" style="cursor: pointer;">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false">
                            <span class="title" style="margin-left: -60px; font-size: 16px; ">Напишите нам запрос</span>
                            <span class="accicon"><i class="fas fa-angle-down rotate-icon"
                                    style="margin-left: 78px; font-size: 20px;"></i></span>

                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="mlp_talk_adverbox">
                                    <div class="title_num">

                                        <div class="num_box_adv mt-2">
                                            <img src="images/telephone-symbol-button.png">
                                            <div class="num_box_sub">
                                                <p c>89998227183</p>
                                                <p class="sub">Доступен 24x7 для ваших запросов</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_talk">
                                        <form>
                                            <div class="mb-3 mt-2">
                                                <input type="Number" class="form-control" id="Number" name="Phone"
                                                    placeholder="Mobile No*">
                                            </div>
                                            <div class="mb-3">
                                                <input type="email" class="form-control" id="Email"
                                                    placeholder="e.g. sara@gmail.com*">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                    placeholder="Type your query here*"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">ОТПРАВИТЬ ЗАПРОС</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <img src="images/15.svg"> Давайте начнем</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Адрес электронной почты</label>
                            <input type="email" class="form-control" id="Email" placeholder="Введите почту">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Пароль</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Введите пароль">
                        </div>
                        <small id="emailHelp" class="form-text text-muted"><span class="note">Пожалуйста, обрати внимание:</span> Продолжая попытку входа в систему, вы соглашаетесь с <span class="terms-action"><a
                                    href="#">Условие & Приложение </a></span> и <span class="terms-action"><a
                                    href="#">Политика Конфиденциальности</a></span>.</small>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
                <p class="login_video_frm">У вас нет аккаунта? <span class="signup-vd"><a href="#"
                            data-toggle="modal" data-target="#exampleModal2" data-dismiss="modal"> Зарегистрироваться </a></span>
                </p>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <img src="images/15.svg"> Давайте начнем</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Адрес электронной почты</label>
                            <input type="email" class="form-control" id="Email" placeholder="e.g. sara@gmail.com*">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputNumber1">Номер телефона</label>
                            <input type="number" class="form-control" id="Number" name="Phone" placeholder="Mobile No*">
                        </div>
                        <small id="emailHelp" class="form-text text-muted"><span class="note">Пожалуйста, обрати внимание:</span> Продолжая попытку входа в систему, вы соглашаетесь с <span class="terms-action"><a
                                    href="#">Условие & Приложение </a></span> и <span class="terms-action"><a
                                    href="#">Политика Конфиденциальности</a></span>.</small>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
                </div>
                <p class="login_video_frm">У вас уже есть аккаунт? <span class="signup-vd"> <a href="#"
                            data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">Войти</a></span></p>
            </div>
        </div>
    </div>


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper)
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
   -->

    <!---Option 2: jQuery, Popper.js, and Bootstrap JS--->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

    <script>
        // $('.portfolio-item').isotope({
        //      itemSelector: '.item',
        //      layoutMode: 'fitRows'
        //  });
        $('.portfolio-menu ul li').click(function () {
            $('.portfolio-menu ul li').removeClass('active');
            $(this).addClass('active');

            var selector = $(this).attr('data-filter');
            $('.portfolio-item').isotope({
                filter: selector
            });
            return false;
        });
        $(document).ready(function () {
            var popup_btn = $('.popup-btn');
            popup_btn.magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        });
    </script>

    <!-------read-more-section----------->
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>

    <!-------second-navbar-hover-properties--------->
    <script>
        /* Please ❤ this if you like it! */


        (function ($) {
            "use strict";

            $(function () {
                var header = $(".start-style");
                $(window).scroll(function () {
                    var scroll = $(window).scrollTop();

                    if (scroll >= 10) {
                        header.removeClass('start-style').addClass("scroll-on");
                    } else {
                        header.removeClass("scroll-on").addClass('start-style');
                    }
                });
            });

            //Animation

            $(document).ready(function () {
                $('body.hero-anime').removeClass('hero-anime');
            });

            //Menu On Hover

            $('body').on('mouseenter mouseleave', '.nav-item', function (e) {
                if ($(window).width() > 750) {
                    var _d = $(e.target).closest('.nav-item'); _d.addClass('show');
                    setTimeout(function () {
                        _d[_d.is(':hover') ? 'addClass' : 'removeClass']('show');
                    }, 1);
                }
            });

            //Switch light/dark

            $("#switch").on('click', function () {
                if ($("body").hasClass("dark")) {
                    $("body").removeClass("dark");
                    $("#switch").removeClass("switched");
                }
                else {
                    $("body").addClass("dark");
                    $("#switch").addClass("switched");
                }
            });

        })(jQuery); 
    </script>


</body>

</html>